<mat-toolbar class="header mat-elevation-z4">

    <button class="botaoMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/admin/unidade-login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
    </mat-menu>
    <span>
        <a>
            <img class="logo" src="assets/images/logo-clickLeitos.png" alt="logo" />
        </a>
    </span>
    <span class="title-group">
        <a>
            Encontre leitos disponiveis
        </a>
    </span>

</mat-toolbar>