.footer {
    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: flex-end;
}

.footer span {
    font-weight: 300;
    font-size: 13px;
}

.footer .logo-footer {
    max-width: 105px;
}