<mat-card class="card">
    <mat-card-title>
        Sintomas covid
    </mat-card-title>
    <mat-card-content>
        Diga o que você está sentindo no momento
    </mat-card-content>
    
    <mat-selection-list>
        <div class="sintomas">
            <mat-list-option>
                <span >Febre</span>
            </mat-list-option>

            <mat-list-option>
                <span >Dor de cabeça</span>
            </mat-list-option>

            <mat-list-option>
                <span >Secreção nasal/espirros</span>
            </mat-list-option>

            <mat-list-option>
                <span >Dor de garganta</span>
            </mat-list-option>

            <mat-list-option>
                <span >Tosse seca</span>
            </mat-list-option>
        </div>

        <div class="sintomas">
            <mat-list-option>
                <span >Dificuldade respiratória</span>
            </mat-list-option>

            <mat-list-option>
                <span >Dor no corpo</span>
            </mat-list-option>

            <mat-list-option>
                <span >Diarreia</span>
            </mat-list-option>

            <mat-list-option>
                <span >Perda de olfato</span>
            </mat-list-option>

            <mat-list-option>
                <span >Teve contato com algum caso de COVID-19?</span>
            </mat-list-option>
        </div>
    </mat-selection-list>
    
</mat-card>