<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" (ngSubmit)="onSubmit()" #form="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="login.email" name="email" required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Senha" [(ngModel)]="login.password"type="password" name="password" required />
        </mat-form-field></td>
      </tr></table>
    </form>
   <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.form.invalid">Entrar</button>
  </mat-card-actions>
</mat-card>
<app-login-read></app-login-read>