<h1>Click Leitos</h1>
<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let u of unidades; let i = index"
      (markerClick)="clickedMarker(u.label, i)"
      [latitude]="u.latitude"
      [longitude]="u.longitude"
      [label]="{color:'white',fontWeight: 'bold', text: toString(u.leitos_disponiveis)}"
      [iconUrl]="getIcon(u)"
      (dragEnd)="markerDragEnd(u, $event)">
      
    <agm-info-window>
      <strong>{{u.nome}}</strong>
    </agm-info-window>
    
  </agm-marker>
    
    
  <agm-marker
      [latitude]="lat"
      [longitude]="lng"
      [iconUrl]="iconUser">
  </agm-marker>

</agm-map>