<mat-card class="card">

  <mat-card-title>
    Cadastrar Unidade
  </mat-card-title>

  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <mat-form-field>
      <input matInput placeholder="Nome da Unidade" [(ngModel)]="unidade.nome" name="nome" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="CNPJ" [(ngModel)]="unidade.cnpj" name="cnpj" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Latitude" [(ngModel)]="unidade.latitude" name="latitude" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Longitude" [(ngModel)]="unidade.longitude" name="longitude" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantidade total de leitos" [(ngModel)]="unidade.leito.total"
        name="quantidade total de leitos" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantidade de leitos disponíveis" [(ngModel)]="unidade.leito.disponiveis"
        name="quantidade de leitos disponiveis" required>
    </mat-form-field>

  </form>
  <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="form.form.invalid">
    Salvar
  </button>
</mat-card>