<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let u of unidades; let i = index"
      (markerClick)="clickedMarker(u, i)"
      [latitude]="u.latitude"
      [longitude]="u.longitude"
      [label]="{color:'white',fontWeight: 'bold',
       text: u.leito.disponiveis!=undefined?toString(u.leito.disponiveis):'0'}"
      [iconUrl]="getIcon(u)"
      (dragEnd)="markerDragEnd(u, $event)">
      
    <agm-info-window>
        <strong>{{u.nome}}</strong><br>
      <strong>Distancia: {{u.distancia}} km</strong>
    </agm-info-window>
    
  </agm-marker>
    
    
  <agm-marker
      [latitude]="lat"
      [longitude]="lng"
      [iconUrl]="iconUser">
  </agm-marker>
    
  <agm-direction *ngIf="rota"
        [origin]="origin" 
        [destination]="destination"
        >
            
  </agm-direction>

</agm-map>

<div [style.visibility]="visible ? 'visible' : 'hidden'">
    
  <button class="btn btn-outline-primary" (click)="tracarRota()">{{btnRotaName}}</button>
  <!--<button class="btn btn-outline-dark" (click)="chamarUber()">Chamar Uber</button>-->

    
</div>
